{% extends "base.html.twig" %}
{% block title %} Ajout des document {% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="mt-2 col-sm-6 offset-3">
            <h3>Ajouter un document</h3>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary">Enregistrer</button>
            {{ form_end(form) }}
        </div>
    </div>

</div>
{% endblock %}